@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@layer components{
    .link { 
        color: #000;
        display:inline-block; 
        margin:0;
    }
    .link:after {
        display:block;
        content: '';
        border-bottom: solid 3px #ea2129;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .link:hover:after { transform: scaleX(1); }
}